@model ST10254164_CLDV6212_GR2_part1.Models.CustomerProfiles


@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>

        <div>
            <form asp-action="StoreTableInfo" method="post" enctype="multipart/form-data">
                <div>
                    <label for="first-name">First name:</label>
                    <input type="text" id="first-name" name="FirstName" value="" required>
                </div>
                <div>
                    <label for="last-name">Last name:</label>
                    <input type="text" id="last-name" name="LastName" value="" required>
                </div>
                <div>
                    <label for="phone-number">Phone number:</label>
                    <input type="text" id="phone-number" name="PhoneNumber" value="" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="Email" value="" required>
                </div>
                <div>
                    <button type="submit">Add profile</button>
                </div>
            </form>
        </div>

        <div>

            <div>
                <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
                    <label for="contract-file">Upload Contract</label>
                    <input type="file" id="contract-file" name="contractFile">
                    <button type="submit">Submit Contract</button>
                </form>

                <form asp-action="UploadBlob" method="post" enctype="multipart/form-data">
                    <label for="image-file">Upload Image</label>
                    <input type="file" id="image-file" name="imageFile">
                    <button type="submit">Submit Image</button>
                </form>

                <form asp-action="ProcessQueueMessage" method="post">
                    <div>
                        <input type="text" id="order-id" name="orderId" placeholder="Order ID" required>
                        <button type="submit">Process Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>